<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo-dos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `hijo-dos`
     * creacion del hijo 2
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijoDos extends Polymer.Element {
      static get is() { return 'hijo-dos'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo-dos'
          }
        };
      }
    }

    window.customElements.define(HijoDos.is, HijoDos);
  </script>
</dom-module>
