<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo-dos">
  <template>
    <style>
      :host {
        display: block;
      }
      table{
        border:2px solid grey;
        width: 80%;
        text-align: center;
      }
    </style>
    <h2>Titulo del hijo dos</h2>
    <h3>Tabla de Usuarios</h3>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Elizabeth</td>
          <td>Farfan</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Luis Angel</td>
          <td>Gonzalez</td>
        </tr>
      </tbody>
    </table>
  </template>
  <script>
    /**
     * `hijo-dos`
     * creacion del hijo 2
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijoDos extends Polymer.Element {
      static get is() { return 'hijo-dos'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo-dos'
          }
        };
      }
    }

    window.customElements.define(HijoDos.is, HijoDos);
  </script>
</dom-module>
